body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#comment-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}


.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-btn {
  display: inline;
}

.fave-btn:active {
  border: 5px solid gold;
}